<style type="text/css">
	ul li{
		list-style: none;
		padding-top: 5px;
	}
	.butt{
		padding: 5px;
	}
</style>
<% if notice %>
   <p id="notice"><%= notice %></p>
<% end %>
   <h2>Your Pragmatic Cart</h2>
<ul>
	<% @cart.line_items.each do |item| %>
	   <li>
	     <%= item.quantity %>&times;<%= item.product.title %>
	     <%= number_to_currency(item.total_price)%>
	   </li>
	   
	<% end %>
	<li style="margin-left:100px;">total:<%= number_to_currency(@cart.total_price) %></li>
	<%= button_to 'delete cart',@cart,method: :delete, data: { confirm: 'Are you sure'} %>
</ul>